@charset "UTF-8";
@font-face {
    font-family: Recline;
    src: url(Recline-Medium.otf);
}
* {
    margin: 0;
    padding: 0; }

/* MENU */
header {
    height: 54px; }
    header ul {
      list-style: none; }
    header a {
      font-family: Recline;
      margin: 0px 15px;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      color: rgb(34, 47, 72);
      transition: color 0.4s;
      letter-spacing: 0.05rem;
      line-height: 1.75rem; }
      header a:hover {
        color: rgb(60, 92, 109);
        text-decoration: none; }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-left: 10px; }
  
  .navbar-custom {
    background-color: white;
    border-bottom: solid 1px #111;
    transition: border-color ease-in-out 0.7s; }
    .navbar-custom:hover {
      border-color: darkcyan; }
  
  .open {
    color: darkgray; }
  
  .open:hover {
    color: white; }

h1 {
    font-family: Recline; }